.imageContainer {
    margin-bottom: 1rem;
    width: 100%;
    height: 25rem;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 8px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.7s ease;
    transition: filter 0.7s ease;
    filter: blur(10px);
}

.imageLoaded .image {
    opacity: 1;
    filter: none;
}

.imageContainer.fullImage {
    position: fixed;
    top: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: none !important;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: "center";
    align-items: "center";
    z-index: 2000;
    border-radius: 0;
}

.imageContainer.fullImage .image {
    max-width: 100%;
    max-width: 100%;
    object-fit: contain;
}

.noScroll {
    overflow: hidden;
}