/*
  Estilos globales
*/
/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Noto+Serif:wght@400;700&display=swap');

:root {
  --surface: #f8f9fa;
  --surface-lowest: #ffffff;
  --surface-low: #f3f4f5;
  --primary: #040c21;
  --secondary: #735b1e;
  --on-surface-variant: #45464d;
  --card-light: #fafbfc;
  --card-dark: #dadbdc;
  --font-serif: 'Noto Serif', serif;
  --font-sans: 'Inter', sans-serif;
  --header-h: 60px;
  --navbar-h: 70px;
  --nav-font-size: 0.7rem;
  --cols: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--surface);
  color: var(--primary);
  font-family: var(--font-serif);
  line-height: 1.6;
}


/* Responsive: ajusta variables CSS según el ancho de pantalla */
@media (min-width: 481px) {
  :root {
    --cols: 2;
    --header-h: 65px;
    --nav-font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  :root {
    --cols: 2;
    --header-h: 70px;
    --navbar-h: 75px;
    --nav-font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --cols: 3;
    --header-h: 60px;
    --nav-font-size: 0.9rem;
  }
}