@import url('/src/index.css');

.artworkDetails {
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

.artworkDetails * {
    font-family: var(--font-sans);
}

.artworkDetailsRow {
    display: grid;
    grid-template-areas: "name content";
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
}

.artworkDetailsCol {
    padding: 0.5rem;
}

.artworkDetailsCol:first-child {
    grid-area: name;
    text-align: left;
}

.artworkDetailsCol:last-child {
    grid-area: content;
    text-align: right;
}

.artworkDetailsRow:nth-child(odd) {
    background-color: var(--card-light);
}


.artworkDetailsRow:nth-child(even) {
    background-color: var(--card-dark);
}