.detailsPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 0;
    max-width: 1200px;
    margin: 0 auto;
}

.detailsPage h1 {
    margin-bottom: 1.5rem;
}

.detailsPage>button {
    align-self: flex-start;
    margin-bottom: 2rem;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.imageSection {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.wishlistBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 0;
    padding: 1rem;
}

.textIcon {
    font-size: 1.2rem;
}

.infoSection {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .contentWrapper {
        display: grid;
        grid-template-columns: 0.8fr 1.2fr;
        gap: 4rem;
        align-items: start;
    }

    .imageSection {
        position: sticky;
        top: 2rem;
    }
    .wishlistBtn {
        width: fit-content;
        align-self: center;
        padding: 0.8rem 2.5rem;
        font-size: 0.9rem;
        margin-top: 1rem;
    }
}