.mainPage {
    width: 100%;
    min-height: 100vh;
    padding: var(--header-h) 1rem var(--navbar-h) 1rem;
    margin: 0 auto;
    box-sizing: border-box;
}
/*Para landspace*/
@media (orientation: landscape) {
    .mainPage {
        padding-top: var(--header-h);
        padding-bottom: 2rem;
    }
}
/* Para desktop */
@media (min-width: 1024px) {
    .mainPage {
        max-width: 1200px;
        padding-top: var(--header-h);
        padding-bottom: 2rem;
    }
}
