.mainPage {
    width: 100%;
    min-height: 100vh;
    padding: var(--header-h) 1rem var(--navbar-h) 1rem;
    margin: 0 auto;
    box-sizing: border-box;
}
/*Para landspace o desktop*/
@media (orientation: landscape), (min-width: 1024px) {
    .mainPage {
        padding-top: calc(var(--header-h) + var(--navbar-h));
        padding-bottom: 2rem;
    }
}
/* Para desktop */
@media (min-width: 1024px) {
    .mainPage {
        max-width: 1200px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
